/* base css */
#images{
width:200px;
height:200px;

}
/* Safari 6.0 - 9.0 */
.zoom {
    transition:transform 0.25s ease;
-webkit-filter: grayscale(100%);
filter:grayscale(100%)
}
/* or some other value */
.zoom:hover {
    -webkit-transform:scale(2.5);
    transform:scale(2.5);
    -webkit-filter: grayscale(0%);
    filter:grayscale(0%)
}
body{
  background-color:#222323;
}
