/* base css */
/*landing page*/

/*font import*/
@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


/**{
  outline: 1px blue solid;
}*/

body{
  background-color: #0a0a0a;
  background-image: url('../img/landingsilver.jpg');

}

.lndButton{
  font: 30px 'Rye', sans-serif;
  text-align: center;
  background: #f2c530 center;
  margin: 0 auto;


}

.lndButton:hover{
  background: #F2EF30;
}

.lndLogo img{
  display: block;
  margin-bottom: 10px;
  /*margin-top: 70%;*/
}

.lndLogo a{
  display: block;
  margin: 0 auto;

}
.lndLogo p{
  display: block;
  margin: 0 auto;
}

/*background-image: url();*/
.centerLogo{
  margin-top: 100%;
  margin-left: 50%;


}
