/* base css */
/*landing page*/
/*
*{
  outline: 1px blue solid;
}
*/

.lndImg{
  max-width: 100%;
  max-height: 100%;
  margin: 0;


}
.lndGal{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.winSize{
  max-height: 100%;
}

.lndButton{
  font: 30px 'Rye', sans-serif;
  text-align: center;
  background: #f2c530 center;


}

.lndButton:hover{
  background: #F2EF30;
}

.lndLogo img{
  display: block;
  margin-bottom: 10px;
  margin-top: 50%;
}

.lndLogo a{
  display: block;
  margin: 0 auto;

}
.lndLogo{

  background-image: url();

}

.enterSite{

}
