/* base css */
/*landing page*/

/*font import*/
@import url('https://fonts.googleapis.com/css?family=Rye');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/*
*{
  outline: 1px blue solid;
}
*/
body{
  background-color: #222323;
  background-image: url();

}

.lndButton{
  font: 30px 'Rye', sans-serif;
  text-align: center;
  background: #f2c530 center;


}

.lndButton:hover{
  background: #F2EF30;
}

.lndLogo img{
  display: block;
  margin-bottom: 10px;
  /*margin-top: 70%;*/
}

.lndLogo a{
  display: block;
  margin: 0 auto;

}
.lndLogo p{
  display: block;
  margin: 0 auto;
}


.lndLogo{
  margin-top: 50%;
  background-image: url();

}
